:root {
  --green: hsl(75, 94%, 57%);
  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);
}

@font-face {
  font-family: "Figtree";
  src: url("./assets/fonts/static/Figtree-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Figtree";
  src: url("./assets/fonts/static/Figtree-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Figtree";
  src: url("./assets/fonts/Figtree-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-style: italic;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  line-height: 150%;
  letter-spacing: 0;
}

body {
  font-family: "Figtree", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--grey-900);
}

body p {
  font-size: 14px;
}

.card {
  display: flex;
  flex-direction: column;
  width: clamp(327px, 80vw, 384px);
  max-width: 384px;
  min-width: 327px;
  background-color: var(--grey-700);
  border-radius: 20px;
  gap: 24px;
  padding: 24px;
  box-shadow: 8px 8px 0 0 black;
  border: solid 1px var(--gray-950);
}

/* .card:hover {
  box-shadow: 16px 16px 0 0 black;
} */
.title:hover {
  cursor: pointer;
  color: var(--yellow);
}

.card section {
  max-width: 100%;
  border-radius: 10px;
}

.card section p {
  padding: 0;
  margin: 0;
}

.card section.header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
}

.card section.header img {
  /* width: 64px;
  height: 64px; */
  border-radius: 50%;
}

.card section.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card section.footer {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
}

.badge {
  background-color: var(--yellow);
  font-size: clamp(12px, 2.5vw, 14px);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 4px 12px;
  border-radius: 4px;
  font-weight: 800;
}

.date {
  font-size: clamp(12px, 2.5vw, 14px);
  font-weight: 500;
}

.title {
  font-size: clamp(20px, 2.5vw, 24px);
  font-weight: 800;
  color: var(--gray-950);
}

.caption {
  font-size: clamp(14px, 2.5vw, 16px);
  font-weight: 500;
  color: var(--gray-500);
}

.user-name {
  font-size: 14px;
  font-weight: 800;
}
