:root {
  --green: hsl(75, 94%, 57%);
  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);
}

@font-face {
  font-family: "Figtree";
  src: url("./assets/fonts/static/Figtree-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Figtree";
  src: url("./assets/fonts/static/Figtree-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Figtree";
  src: url("./assets/fonts/Figtree-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-style: italic;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  line-height: 150%;
  letter-spacing: 0;
}

body {
  font-family: "Figtree", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--grey-900);
}

body p {
  font-size: 14px;
}

.card {
  display: flex;
  flex-direction: column;
  width: clamp(327px, 80vw, 384px);
  max-width: 384px;
  min-width: 327px;
  background-color: var(--grey-800);
  border-radius: 20px;
  gap: 24px;
  padding: 24px;
  box-shadow: 8px 8px 0 0 black;
  border: solid 1px var(--gray-950);
}

/* .card:hover {
  box-shadow: 16px 16px 0 0 black;
} */
.title:hover {
  cursor: pointer;
  color: var(--yellow);
}

.card section {
  max-width: 100%;
  border-radius: 10px;
}

.card section p {
  padding: 0;
  margin: 0;
}

.card section.header {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card section.header img {
  /* width: 64px;
  height: 64px; */
  border-radius: 50%;
}

.card section.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}

.fullname {
  text-align: center;
  font-size: 24px;
  font-weight: 800;
  color: white;
  margin: 0;
  padding: 0;
}

.location {
  text-align: center;
  font-size: 16px;
  color: var(--green);
  margin: 0;
  padding: 0;
}

.caption {
  text-align: center;
  font-size: 14px;
  color: white;
  margin: 0;
  padding: 0;
}

.social-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.social-box ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.social-menu {
  text-align: center;
  background-color: var(--grey-700);
  margin: 10px;
  padding: 10px;
  width: 100%;
  list-style-type: none;
  color: white;
  border-radius: 10px;
}
